*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  font-family: "Poppins", sans-serif;
  font-size: 10px;
  height: 100vh;
  background-color: #f0eff4;
}

@media screen and (max-width: 768px) {
  html,
  body {
    font-size: 8px;
  }
}

.container {
  position: absolute;
  left: 20px;
  right: 20px;
  top: 20px;
  bottom: 20px;
  background-color: #832161;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow-x: hidden;
  z-index: 1;
}

@media screen and (max-width: 768px) {
  .container {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
}

@media screen and (max-width: 520px) {
  .container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.scores {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 20vh;
  font-size: 3rem;
  color: #f0eff4;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  text-align: center;
}

@media screen and (max-width: 1200px) {
  .scores {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 20px;
  }
}

@media screen and (max-width: 434px) {
  .scores {
    font-size: 2rem;
  }
}

.score {
  padding: 20px 10px;
}

.score > span[class$="score"] {
  text-align: center;
  display: block;
  font-size: 3.5rem;
  font-weight: bold;
}

header {
  text-align: center;
  height: 25vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

header img {
  position: absolute;
  width: 300px;
  top: 0;
  -webkit-transform: translateY(-40%) rotate(-15deg);
          transform: translateY(-40%) rotate(-15deg);
  z-index: 1;
}

@media screen and (max-width: 768px), (max-height: 900px) {
  header img {
    width: 250px;
  }
}

@media screen and (max-width: 520px), (max-height: 700px) {
  header img {
    width: 150px;
  }
}

header h1 {
  font-size: 4.5rem;
  color: #da4167;
  text-shadow: 0 0 5px #3d2645;
}

@media screen and (max-width: 520px) {
  header h1 {
    font-size: 4rem;
    line-height: .9;
  }
}

header h2 {
  font-size: 3.5rem;
  color: #f0eff4;
  -webkit-transform: translate(40%, -20px);
          transform: translate(40%, -20px);
}

@media screen and (max-width: 520px) {
  header h2 {
    font-size: 3rem;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

.game {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

div.fadedOut {
  -webkit-transform: translateY(-40px);
          transform: translateY(-40px);
  opacity: 0;
  pointer-events: none;
}

div.scaledOut {
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
  opacity: 0;
  pointer-events: none;
}

.intro {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.intro-content {
  position: relative;
  width: 100%;
  height: 100px;
  overflow: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.intro-content input {
  width: 100%;
  height: 100%;
  background: none;
  padding: 50px 50px 10px;
  font-size: 3.5rem;
  text-align: center;
  border: none;
  color: #f0eff4;
  font-family: "Poppins", sans-serif;
  outline: none;
}

.intro-content input:focus + label span,
.intro-content input:valid + label span {
  color: #da4167;
  font-size: 2.5rem;
  -webkit-transform: translateY(-50px);
          transform: translateY(-50px);
}

.intro-content input:focus + label::before,
.intro-content input:valid + label::before {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.intro-content label {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border-bottom: 2px solid #da4167;
}

.intro-content label::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 100%;
  border-bottom: 2px solid #f0eff4;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
}

.intro-content label span {
  position: absolute;
  text-align: center;
  width: 100%;
  bottom: 0;
  font-size: 3.5rem;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  color: silver;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.intro-content .user-icon,
.intro-content button {
  position: absolute;
  color: #da4167;
  bottom: 10px;
}

.intro-content .user-icon {
  left: 0;
  font-size: 3.5rem;
  pointer-events: none;
}

.intro-content button {
  right: 0;
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.intro-content button:hover {
  color: #f0eff4;
}

.intro-content button i {
  font-size: 3.5rem;
}

.game-content {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.hands {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 520px) {
  .hands .hand img {
    width: 240px;
  }
}

@media screen and (max-width: 380px) {
  .hands .hand img {
    width: 210px;
  }
}

.hands .player-hand img {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.hands .player-hand img.shaked {
  -webkit-animation: shakePlayerHand 2s ease-in-out;
          animation: shakePlayerHand 2s ease-in-out;
}

.hands .computer-hand img.shaked {
  -webkit-animation: shakeComputerHand 2s ease-in-out;
          animation: shakeComputerHand 2s ease-in-out;
}

@-webkit-keyframes shakePlayerHand {
  17% {
    -webkit-transform: rotateY(180deg) translateY(-30px);
            transform: rotateY(180deg) translateY(-30px);
  }
  33% {
    -webkit-transform: rotateY(180deg) translateY(0);
            transform: rotateY(180deg) translateY(0);
  }
  50% {
    -webkit-transform: rotateY(180deg) translateY(-30px);
            transform: rotateY(180deg) translateY(-30px);
  }
  66% {
    -webkit-transform: rotateY(180deg) translateY(0);
            transform: rotateY(180deg) translateY(0);
  }
  83% {
    -webkit-transform: rotateY(180deg) translateY(-30px);
            transform: rotateY(180deg) translateY(-30px);
  }
  100% {
    -webkit-transform: rotateY(180deg) translateY(0);
            transform: rotateY(180deg) translateY(0);
  }
}

@keyframes shakePlayerHand {
  17% {
    -webkit-transform: rotateY(180deg) translateY(-30px);
            transform: rotateY(180deg) translateY(-30px);
  }
  33% {
    -webkit-transform: rotateY(180deg) translateY(0);
            transform: rotateY(180deg) translateY(0);
  }
  50% {
    -webkit-transform: rotateY(180deg) translateY(-30px);
            transform: rotateY(180deg) translateY(-30px);
  }
  66% {
    -webkit-transform: rotateY(180deg) translateY(0);
            transform: rotateY(180deg) translateY(0);
  }
  83% {
    -webkit-transform: rotateY(180deg) translateY(-30px);
            transform: rotateY(180deg) translateY(-30px);
  }
  100% {
    -webkit-transform: rotateY(180deg) translateY(0);
            transform: rotateY(180deg) translateY(0);
  }
}

@-webkit-keyframes shakeComputerHand {
  17% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  33% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  66% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  83% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes shakeComputerHand {
  17% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  33% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  66% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  83% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.game-result {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #3d2645;
  width: 230px;
  height: 150px;
  margin: 0 10px;
  padding: 20px 10px;
  text-align: center;
  -webkit-transform: translateY(-80px);
          transform: translateY(-80px);
  border-radius: 5px;
  background-color: #da4167;
  color: #3d2645;
  -webkit-box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
          box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.game-result h1 {
  font-size: 3.5rem;
  color: #f0eff4;
}

.game-result h2 {
  font-size: 2rem;
  word-spacing: 1px;
  text-transform: capitalize;
}

.game-result h2 span {
  text-transform: none;
}

@media screen and (max-width: 768px) {
  .game-result {
    position: absolute;
    z-index: -1;
  }
}

@media screen and (max-width: 434px) {
  .game-result {
    width: 200px;
    height: 100px;
    padding: 15px 5px;
    -webkit-transform: translateY(-40px);
            transform: translateY(-40px);
  }
  .game-result h1 {
    font-size: 3rem;
  }
  .game-result h2 {
    font-size: 1.5rem;
  }
}

.options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.options button {
  position: relative;
  background-color: #3d2645;
  color: #f0eff4;
  border: 2px solid #3d2645;
  border-radius: 5px;
  font-size: 3rem;
  padding: 10px 25px;
  margin: 0 10px 20px;
  cursor: pointer;
  -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  outline: none;
}

.options button:focus {
  border-color: #da4167;
}

.options button:hover:not(:disabled) {
  background-color: #da4167;
  border-color: #da4167;
}

.options button:disabled {
  cursor: default;
}

@media screen and (max-width: 520px) {
  .options button {
    font-size: 2rem;
    margin: 0 5px;
  }
}
/*# sourceMappingURL=main.css.map */